<div data-hook="front_supplier_text_field">
    <br />
    <h4> Producent: </h4>
    <p id="supplier_name_field" data-hook="front_product_supplier_text">           
    <%= @supplier.name %>
    </p>
</div>
